@tailwind base;
@tailwind components;
@tailwind utilities;

.search-result-pop {
  background: #3f3f3f;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 43px;
  right: 0;
  z-index: 6;
  list-style: none;
}

.focus {
  display: block !important;
}

.loader div {
  animation-duration: 0.5s;
}

.loader div:first-child {
  animation-delay: 0.2s;
}

.loader div:nth-child(2) {
  animation-delay: 0.6s;
}

.loader div:nth-child(3) {
  animation-delay: 1s;
}

.dot {
  @apply bg-[#c49bff] flex space-x-2 p-[6px] rounded-full justify-center items-center animate-pulse;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.small-dot {
  @apply w-[4px] h-[4px] rounded-[50%] bg-[#666] inline-block my-[3px] mx-[6px];
}

.search-bar {
  width: 320px;
  margin: 0;
  margin-right: 15px;
  float: left;
  color: #ddd;
}

.mobile-search {
  position: absolute;
  right: 50px;
  padding: 0;
  color: #fff;
  cursor: pointer;
  z-index: 4;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 3px;
  font-weight: 800;
  display: none;
}

@media screen and (max-width: 1038px) {
  .search-bar {
    position: absolute;
    background-color: #7b36ce;
    top: 70px;
    left: 0;
    margin: 0;
    z-index: 80;
    bottom: auto;
    width: 100%;
    padding: 20px 20px 10px;
    display: none;
  }

  .filter {
    display: none;
  }
  .mobile-search {
    display: inline-block;
    top: 33px;
  }
}

.active-search {
  display: block;
}
