.hr-line {
  float: left;
  width: 1px;
  height: 40px;
  margin: 15px 30px;
  background: rgba(255, 255, 255, 0.1);
}

.hr-manga .manga-name {
  font-size: 14px;
  color: #fff;
  line-height: 1.3em;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
}

.hr-navigation {
  display: flex;
  height: 70px;
  justify-content: start;
  align-items: center;
}

.dropdown-menu-fixed {
  background-color: #222 !important;
  position: absolute !important;
  margin: 0;
  top: 72px !important;
  height: calc(100vh - 200px)!important;
  bottom: auto !important;
  left: 0 !important;
  max-height: 495px;
  background: #eee;
  transform: none !important;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  min-width: auto;
  width: 100%;
  z-index: 9999;
  
}

.dropdown-menu-model {
  background-color: #4f4f4f;
  color: #fff;
}
