@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
  text-align: left;
}

.slide {
  /* animation: slideAnimation 1s ease alternate; */
  transform: scale(1.2);
  transition: all 1s ease 0s;
  /* transition: all .2s ease 0s; */
}

.trending-card {
  transform: scale(1.2);
  transition: all 0.2s ease 0s;
  transition-delay: 0.1s;
}

.active {
  transform: scale(1);
}

@keyframes slideAnimation {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.show {
  animation: trending-show 0s forwards;
  animation-delay: 0.5s;
}

@keyframes trending-show {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  max-height: 100%;
  height: 100%;
  display: flex;
}

@layer components {
  .genres {
    padding: 0 10px;
    min-width: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    background: #eee;
    font-style: normal;
    font-size: 13px;
    display: inline-block;
  }
  .manga-list__container {
    padding-bottom: 70px;
    min-height: calc(100vh - 434px);
  }
  
  .manga-list {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1400px;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }

  .list-items {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 6px;
    width: 100%;
  }
  .latest-manga-detail {
    width: calc(100% - 160px);
    float: right;
    position: relative;
    min-height: 200px;
    padding-right: 10px;
    overflow: hidden;
  }
  .poster-most-viewed {
    position: absolute;
    left: 0;
    width: 60px;
    transform: translateY(-8%);
    bottom: auto;
    overflow: hidden;
    height: auto;
    padding-bottom: 80px;
  }
}


::-webkit-scrollbar {
  width: 15px;
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  height: 2px;
  background-color: rgba(255, 255, 255, .4);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}